---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2 
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
AllowShortFunctionsOnASingleLine: Empty
AlignOperands: true
AlignConsecutiveAssignments: false 
AlignConsecutiveDeclarations: false
PointerAlignment: Right